.chat-page {
    height: 100%;
}

.chat-layout {
    display: flex;
    flex-direction: row;
    height: 100%;
}

.chat-main-layout {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 4;
}

.chat-history-layout {
    flex: 1;
}